.memo__add-button{
  margin-bottom: 0.5em;

  &:hover {
    transition: opacity 0.2s ease-out;
    opacity: 0.7;
    cursor: pointer;
  }
}

@media (max-width: 425px) {
  .memo__add-button {
    height: 45px;
    margin-top: 1.5em;
  }
}